/.svn
/media/files
/media/users
/media/photos
/data/database.php
/data/install.lock
/media/courseware
/media/360Rotation
/media/blog
/media/comment
/media/product_subscription
/media/resume_avatar
/data/config.php
/data/admin/logs
